{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>
            {% if title %}
                {{ title }} - Microblog
            {% else %}
                {{ _('Welcome to') }} Microblog
            {% endif %}
        </title>
    {% endblock %}
</head>

<body>
<main class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Microblog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ render_nav_item('main.index',_('Home'),use_li=True) }}
                {{ render_nav_item('main.explore',_('Explore'),use_li=True) }}
            </ul>
            <ul class="navbar-nav">
                {% if current_user.is_anonymous %}
                    {{ render_nav_item('auth.login',_('Login'),use_li=True) }}
                {% else %}
                    {{ render_nav_item('main.user',_('Profile'),use_li=True,username=current_user.username) }}
                    {{ render_nav_item('auth.logout',_('Logout'),use_li=True) }}
                {% endif %}
            </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block content %}{% endblock %}

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2019 <a href="http://127.0.0.1:5000" title="Written by SIRIUS">SIRIUS</a></small>
        {% endblock %}
    </footer>
</main>



{% block scripts %}
    {{ bootstrap.load_js() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).text(response['text'])
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
    </script>
{% endblock %}
</body>
</html>