{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}

{% block content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    {% if form %}
        {{ render_form(form) }}
        <br>
    {% endif %}

    {% for post in posts %}
        {% if post.main_post_id==None %}
            {% include '_post.html' %}
        {% endif %}
    {% endfor %}

    {% if pagination.total > pagination.per_page %}
        {{ render_pagination(pagination,ellipses='...',align='right') }}
    {% endif %}
{% endblock %}